* {
font-family: 'Francois One', serif;
}
.explore {
font-family: 'Francois One', serif;
}
body {
  text-align: center;
}
body, html {
    height: 100%;
}

.hero-image {
    background-image: url("../photos/univeristy.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #2d2d30;
    padding: 15px;
    border-radius: 20px;
    font-size: 20px;
  }
  .areas {
        background: #2d2d30;
        color: #bdbdbd;
        padding: 12px;
  }

p {
  font-size: 16px;
}

.container {
    width: 100%;
    position: absolute;
    text-align: center;
}

}
footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: ;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}
.social {
min-height: 100%;
padding-top: 50px;
text-align: center;
}

img.rounded-circle {

    padding: 3px; /* Some padding */
    width: 150px; /* Set a small width */
    height: 150px;
}

img.rounded-circle:hover {
    opacity: 0.7;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}


.map {
  text-align: center;
  margin: 0 auto 0 auto;
  width: 100%;
  height: 400px;
}
.btn-ticket {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}

.polaroid-images a
{
	background: white;
	display: block;
  float: left;
	margin: 0 15px 30px;
	padding: 10px 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
        position:relative;
}

.polaroid-images a:after {
	color: #333;
	font-size: 20px;
	content: attr(title);
	position: relative;
	top:15px;
}

.polaroid-images img {
	display: block;
  height: 300px;
	width: 300px;
  overflow: hidden;
}

.polaroid-images a:hover{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
        transform: rotate(0deg);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
        transform: scale(1.2);
	z-index:10;
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
        box-shadow: 0 10px 20px rgba(0,0,0,.7);
}
/* this is css just for things on the about page */
.hero-image-2 {
      background-image: url("../photos/view of the River Clyde.jpg");
      height: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
}
.text-box {
    background: #2d2d30;
    color: #bdbdbd;
    padding: 12px;
  }
.break {
      background: #2d2d30;
      color: #bdbdbd;
      padding: 50px;
}
form {
  text-align: center;
}
.about-image {
  background-image: url("../photos/Glasgow.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
}
.bg-1 h3 {color: #fff;}
.bg-1 p {font-style: italic;}
.bg-1 ul {
  text-align: center;
  color: black;
}



/* On hover, the color of .btn will transition to white with black text */
.btn-ticket:hover, .btn-ticket:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}
/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
