body {
  text-align: center;
  font-family: 'Bahiana', serif;
}
body, html {
    height: 100%;
}
.hero-image {
    background-image: url("../photos/univeristy.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.areas {
      background: #2d2d30;
      color: #bdbdbd;
      padding: 12px;
}
ol {
  text-align: left;
}

ul {
  text-align: left;
}

.food-image {
  background-image: url("../photos/resturant.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.drink-image {
      background-image: url("../photos/barrowlands.jpg");
      height: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
}
.togo-image {
  background-image: url("../photos/goma.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.about-image {
  background-image: url("../photos/edinburgh.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail p {
    margin-top: 15px;
    color: #555;
}
/* this is css just for thing on the about page */
.title1 {
    background: #2d2d30;
    color: #bdbdbd;
  }
form {
  text-align: center;
}
.about-image {
  background-image: url("../photos/Glasgow.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
}
.bg-1 h3 {color: #fff;}
.bg-1 p {font-style: italic;}
.bg-1 ul {
  text-align: center;
  color:MediumSeaGreen;
}
