body {
  text-align: center;
}
.areas {
      background: #2d2d30;
      color: #bdbdbd;
}

.Drink {
  text-align: left;
  }
.Drink h3 {
  background-image: url("image/barrowlands.jpg");
}
.container {
    padding: 80px 120px;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail p {
    margin-top: 15px;
    color: #555;
}
/* this is css just for thing on the about page */
.title1 {
    background: #2d2d30;
    color: #bdbdbd;
  }
form {
  text-align: center;
}

.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
}
.bg-1 h3 {color: #fff;}
.bg-1 p {font-style: italic;}
