* {
font-family: 'Francois One', serif;
}
.explore {
font-family: 'Francois One', serif;
}
body {
  text-align: center;
}
body, html {
    height: 100%;
}
.hero-image {
    background-image: url("../photos/univeristy.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #2d2d30;
    padding: 15px;
    border-radius: 20px;
    font-size: 20px;
}
.areas {
      background: #2d2d30;
      color: #bdbdbd;
      padding: 12px;
}

p {
  font-size: 16px;
}

ol {
  text-align: left;
  font-size: 16px;
}

ul {
  text-align: left;
  font-size: 16px;
}

.food-image {
  background-image: url("../photos/resturant.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.drink-image {
      background-image: url("../photos/barrowlands.jpg");
      height: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
}
.togo-image {
  background-image: url("../photos/kelpies.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.about-image {
  background-image: url("../photos/edinburgh.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}
.thumbnail a {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail p {
    margin-top: 15px;
    color: #555;
}
footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: ;
}

.social {
min-height: 100%;
padding-top: 30px;
padding-bottom: 10px;
text-align: center;
background: #2d2d30
}

img.rounded-circle {

    padding: 3px; /* Some padding */
    width: 150px; /* Set a small width */
    height: 150px;
}

img.rounded-circle:hover {
    opacity: 0.7;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

/* this is css just for things on the about page */
.hero-image-2 {
      background-image: url("../photos/view of the River Clyde.jpg");
      height: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
}
.text-box {
    background: #2d2d30;
    color: #bdbdbd;
    padding: 12px;
  }
.break {
      background: #2d2d30;
      color: #bdbdbd;
      padding: 50px;
}
form {
  text-align: center;
}
.about-image {
  background-image: url("../photos/Glasgow.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
    padding-bottom: 20px;
}
.bg-1 h3 {color: #fff;}
.bg-1 p {font-style: italic;}
.bg-1 ul {
  text-align: center;
  color: black;
}

.map {
  text-align: center;
  margin: 0 auto 0 auto;
  width: 100%;
  height: 400px;
}
.btn-ticket {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}

/* On hover, the color of .btn will transition to white with black text, used on event listing */
.btn-ticket:hover, .btn-ticket:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}
